:root{
    font-size:16px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; 
    color: rgb(41, 41, 54);
    background-color: rgb(236, 236, 236);
}
header{
    max-height: 7rem;
    margin-bottom: 1rem;
    display: flex;
}
header img{
    width:  3rem;
    height: auto;
}
h1{
    margin: 1rem; 
}
main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    margin-top: 1rem;
    height: calc(100vh - 5rem); /* Ajusta a altura do main considerando o header e margens */
    padding-top: 1rem;
}
li {
    list-style-type: none; /* Remove o marcador padrão */
    padding: 1em; /* Adiciona espaçamento interno */
    margin: 0.5em 0; /* Adiciona espaçamento entre os itens */
    border-radius: 0.5em; /* Adiciona cantos arredondados */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}
if {
    font-weight: bold;
}
c, cc {
    font-weight: lighter;
}
#logo {
    margin-left: 2rem;
    margin-top: 2rem;
    height:auto;
    display:grid;
    width: 10rem;
    text-align: center;
}



